/* variables*/
:root{
    --main-background: rgb(33, 35, 36);
    --main-color-score: rgb(255,215,0);
    --alt-light-background: rgb(58, 61, 63);
}

/*global elements */
body{
    font-family: 'PT Sans', sans-serif;
    background: var(--main-background);
    color: #fff;
    font-size: 3em;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
span{
    color: var(--main-color-score);
    padding: 0 12px;
}
img{
    cursor: pointer;
}
button{
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all;
    opacity: 0.3;
  }
.button{
    background: rgb(126, 124, 119);    
    color: #fff;
    border-radius: 7px;
}
#main-title{
    border-bottom: 2.5px rgb(44, 34, 34);
    border-style: double;
    background: rgb(66, 61, 42);
}
#main-title h1{
    text-align: center;
    padding: 20px 0;
}
#game-container{
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: inset 0 0 17px #fff;
}
#score{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#RPS-container{
    align-self: center;
    width: 50%;
    height: 50%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 20px 0;
}
#RPS-container>section{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#RPS-container div{
    font-size: 80%;
    text-align: center;
}
#RPS-container p{
    font-size: 75%;
}
@media screen and (min-width: 260px) and (max-width: 580px){
    #RPS-container>section{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    body{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 581px) and (max-width: 800px){
    #RPS-container{
        width: 75%;
    } 
    body{
        font-size: 1.5em;
    }

}
#endGameElement{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
#endGameElement > * {
    padding: 20px;
}
.btnHoverAni{
    color: rgb(245, 241, 25);
    transform: scale(1.02);
}
.btnRPS{
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}
#btnRock{
    background-image: url('images/cir.png');
}
#btnPaper{
    background-image: url('images/squ.png');
}
#btnScissors{
    background-image: url('images/tri.png');
}
#button-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.round-wrapper{
    background: rgb(66, 61, 42);
    border-radius: 50%;
    transform: scale(0.5);
}
.round-wrapper:hover{
    background: rgb(114, 103, 55);
}

.numRounds{
    margin-bottom: 10px;
    width: 70px;
    padding: 10px 0;
    color: rgb(38, 189, 101);
    background: #fff;
    text-align: center;
} 
#statistics{
    display:flex;
    justify-content: space-between;
}
#statistics p {
    font-size: 75%;
}
